<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">Dashboard</div>
    <div class="page__content shadow p-3 position-relative">
        <div class="page__content-data position-absolute text-center"> 
        <table class="table mt-5">
            <thead>
                <tr>
                    <th scope="col"> ADMIN </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>USER-NAME</td>
                    <td> <button class="btn btn-primary">ADD</button>&nbsp;
                        <button class="btn btn-danger">Delete </button>&nbsp;
                            
                       
                    </td>
                </tr>
                <tr>
                    <td>USER ADDRESS</td>
                    <td> <button class="btn btn-primary">ADD</button>&nbsp;
                        <button class="btn btn-danger">Delete </button>&nbsp;
                            
                       
                    </td>
                </tr>
                <tr>
                    <td>USER-EMAIL</td>
                    <td> <button class="btn btn-primary">ADD</button>&nbsp;
                        <button class="btn btn-danger">Delete </button>&nbsp;
                            
                       
                    </td>
                      
        
            </tbody>
        </table>
        
      </div>
    </div>
</div>
