<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"><h1 style="color:rgb(195, 231, 118)">RISHABH GANGWAR RESTAURANT</h1></div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      
      
      <span><img
          src="https://images.unsplash.com/photo-1476224203421-9ac39bcb3327?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=300"
          alt=""></span>
          <p>FOOD IS OF VARIOUS TYPES , COME TO OUR RESTAURANT, WE PROVIDE EVERYTYPE FOOD , BE it CONTINENTAL,INDIAN,ITALIAN,WESTERN</p>
         

    </div>
  </div>
</div>