<mat-nav-list>
    <div class="logo py-4">
      <h1 style="color: rgb(250, 250, 250);">RESTRAU</h1>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2" style="color: rgb(249, 250, 251);">APPLICATIONS</h2>
  
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>dashboard</mat-icon> Dashboard
    </a>
    <a mat-list-item routerLink="/menu"> <mat-icon>menu</mat-icon> FORM</a>
    <a mat-list-item routerLink="/restaurant"><mat-icon>restraunt</mat-icon>RESTRAUNT NAME</a>
    <a mat-list-item routerLink="/user-menu"><mat-icon>user-menu</mat-icon> USER-MENU </a>
    <a mat-list-item routerLink="/form"><mat-icon>form</mat-icon>FEEDBACK</a>
  </mat-nav-list>
